header {
  position: fixed;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: transparent;
  z-index: 500;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-start {
  width: 306px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin-right: 19px;
}
.line {
  border: 1px solid #fff;
  height: 48px;
}
.header-location {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 7px 46px 7px 16px;
  appearance: none;
  background-image: url("../../assets/icons/Drop_down.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 50px);
  outline: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 29.225px;
  letter-spacing: -0.405px;
}

.header-location__title {
  background-color: rgb(77, 75, 75);
  font-size: 18px;
  font-weight: 700;
  line-height: 29.225px;
  letter-spacing: -0.405px;
}

.header-end {
  width: 786px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-icon {
  background-image: url("../../assets/icons/Globe.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 50px;
}

.lang-select {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-position: calc(50% - -73px);
  outline: none;
  appearance: none;
  padding: 7px;
  padding-left: 50px;
}
.lang-select option {
  background-color: rgb(77, 75, 75);
}

.header-call {
  position: relative;
  /* margin-left: 30px; */
  color: #fff;
  text-align: center;
  font-family: Styrene A LC;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.216px;
  margin-right: 147px;
}

.header-call::before {
  content: "";
  background-image: url("../../assets/icons/Phone.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  right: 185px;
  width: 26px;
  height: 26px;
}

.header-nav-btn {
  display: flex;
  padding: 16px 29.333px;
  justify-content: center;
  align-items: center;
  gap: 13.333px;
  border-radius: 37.333px;
  border: 2.667px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.menu {
  margin-left: 40px;
}

.modalBtn {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  border-radius: 28px;
  border: 2px solid #fff;
  padding: 7px 16px;
}
.closeBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 36px;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.closeIcon {
  width: 24px;
  height: 24px;
}
.custom-drawer .ant-drawer-body {
  height: fit-content;
  border-top: 1px solid #282f2a;
}
.custom-drawer .ant-drawer-header {
  margin: 0 auto;
}
.custom-drawer .ant-space-item {
  width: 1680px;
}

.custom-drawer .ant-drawer-content-wrapper {
  width: auto;
}
.header-modal {
  width: 786px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.header-call-modal {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: Styrene A LC;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.216px;
  margin-right: 25px;
}

.header-call-modal::before {
  content: "";
  background-image: url("../../assets/icons/Phone.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  right: 158px;
  width: 26px;
  height: 26px;
}
.lang-icon-modal {
  background-image: url("../../assets/icons/Globe.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 32px;
}

.modal-bottom-box {
  width: 100%;
  max-width: 1680px;
  height: fit-content;
  margin: 0 auto;
}
.modal-bottom-wrap {
  display: flex;
  justify-content: space-between;
}
.image-box {
  display: flex;
  width: 100%;
  max-width: 1080px;
  gap: 10px;
}
.row-box {
  width: 100%;
  max-width: 356px;
}
.row-image-box1 {
  width: 100%;
  max-width: 356px;
  height: 190px;
  background-image: url("../../assets/images/modal1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 11px;
  padding: 30px 0 0 20px;
}
.row-image-desc {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

.row-image-box2 {
  width: 100%;
  max-width: 356px;
  height: 90px;
  background-image: url("../../assets/images/modal2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 30px 0 0 15px;
}
.column-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 712px;
}
.column-image-box1 {
  width: 100%;
  height: 90px;
  border-radius: 16px;
  padding: 30px 0 0 30px;
  background: linear-gradient(90deg, #000 -59.52%, rgba(0, 0, 0, 0) 68.43%),
    url("../../assets/images/modal3.jpg") center/cover no-repeat;
  opacity: 0.7;
}
.column-image-box2 {
  width: 100%;
  height: 90px;
  border-radius: 16px;
  padding: 30px 0 0 30px;
  background: linear-gradient(90deg, #000 -59.52%, rgba(0, 0, 0, 0) 68.43%),
    url("../../assets/images/modal4.jpg") center/cover no-repeat;
  opacity: 0.7;
}
.column-image-box3 {
  width: 100%;
  height: 90px;
  border-radius: 16px;
  padding: 30px 0 0 30px;
  background: linear-gradient(90deg, #000 -59.52%, rgba(0, 0, 0, 0) 68.43%),
    url("../../assets/images/modal5.jpg") center/cover no-repeat;
  opacity: 0.7;
}
.column-image-desc {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  width: 165px;
}

.navigation-box {
  display: flex;
  width: 100%;
  max-width: 385px;
  gap: 20px;
}
.start-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 180px;
  gap: 10px;
}

.modal-link {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.end-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 180px;
  gap: 10px;
}
