.second-slider {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/mainBg.jpg");
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100vh;
}
.textBox {
  display: flex;
  flex-direction: column;
}
.newstext {
  color: #59e9ff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 10px;
}
.newstext > span {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
}

.toptex {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  margin-bottom: 11px;
}

.maintex {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  margin-bottom: 74px;
}

.text-image-box {
  display: flex;
  gap: 22px;
}

.desc {
  width: 250px;
  color: #59e9ff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 129%;
}

.desc span {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 129%;
}
.shortimg {
  width: 89px;
  height: 82px;
  margin-bottom: 55px;
}

.btn-box {
  display: flex;
  gap: 33px;
}
.btn-one {
  padding: 16.532px 26.451px;
  gap: 11.021px;
  border-radius: 30.86px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(33.06413269042969px);
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.btn-two{
padding: 16.532px 26.451px;
gap: 11.021px;
border-radius: 30.86px;
background:  #FFF;
color: #00482D;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
}

/* <div className="firstslider">
      <div className="container">
        <div className="textBox">
          <p className="newstext">
            YANGI <span>2023</span> GRAND INVERTER
          </p>
          <p className="toptex">KIYIMLARINGIZ KIR</p>
          <h2 className="maintex">BO‘LISHIDAN</h2>
          <div className="text-image-box">
            <img src={tshort} alt="wear img" />
            <p className="desc">Gipoallergen <span>kir yuvish</span></p>
            <div className="brn-box">
                <button className="btn-one">Узнать больше</button>
                <button className="btn-two">Узнать больше</button>
            </div> */
